<div class="page-header">
  <h3>Favorite #<%= @favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Users</dt>
      <dd>
        <% if @favorite.users.present? %>
          <a href="/users/<%= @favorite.users_id %>">
            <%= @favorite.users.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Food</dt>
      <dd>
        <% if @favorite.food.present? %>
          <a href="/foods/<%= @favorite.food_id %>">
            <%= @favorite.food.food_name %>
          </a>
        <% end %>
      </dd>

      <dt>Resutaurant</dt>
      <dd>
        <% if @favorite.resutaurant.present? %>
          <a href="/restaurants/<%= @favorite.resutaurant_id %>">
            <%= @favorite.resutaurant.restaurant_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/favorites" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @favorite.users %>
        <a href="/favorites/<%= @favorite.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
